* {
    margin: 0 auto;
    padding: 0;
}

#wrapper {
    width:  60%;
    height: 600px;
}

.card {
    display: inline-block;
    width: 24%;
    height: 23.5%;
    margin: 0.5%;
    perspective: 140px;
  }
  
  .card-inner {
    /* position: absolute를 이용하여 카드 앞뒤를 곂쳐지게 함*/
    position: relative;
    width: 99%;
    height: 99%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 99%;
    height: 99%;
    backface-visibility: hidden;
    border: 1px solid #828282;
  }
  .card-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1;
  }
  .card-city {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 20%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    font-weight: bold;
    color: #ddd;
    text-align: center;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
  }
  
  .card-front {
    background: navy;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

  #game-info {
    width: 60%;
    color: #fff;
  }
  #game-info div {
    float: left;
    width: 25%;
    height: 80px;    
    text-align: center;
    line-height: 80px;
    background-color: rgb(12, 61, 100);
  }
  #start-btn:hover {
    background-color: #012949;
    cursor: pointer;
  }
  #hint-btn:hover {
    background-color: #012949;
    cursor: pointer;
  }